<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Approbation System | MCA</title>

</head>
<body >

{% autoescape on %}
<center><h1 style="font-size: xxx-large;"><u>Abstract</u></h1></center>
<center><h2 style="font-size: xxx-large;">{{ topic }}</h2></center>
<center><h3 style="font-size: x-large;">{{ user.first_name }} {{ user.last_name }} ,{{ user.username }},{{ user.student.roll_no }} </h3></center>
<hr>
<h4 style="font-size:15px;"><u>Introduction:-</u></h4>
<p style="font-size:12px;text-align:justify;">{{ introduction }}</p>
<h4 style="font-size:15px;"><u>Objectives:-</u></h4>
<p style="font-size:12px;text-align:justify;">{{ objectives }}</p>
<h4 style="font-size:15px;"><u>Motivation or Relavance:-</u></h4>
<p style="font-size:12px;text-align:justify;">{{ motivation }}</p>
<h4 style="font-size:15px;"><u>Problem Definition:-</u></h4>
<p style="font-size:12px;text-align:justify;">{{ problem }}</p>
<h4 style="font-size:15px;"><u>Tools / Platform, Hardware and Software Requirements:-</u></h4>
<div style="font-size:12px;"><b>Front End &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>&nbsp;&nbsp;{{ frontend }}  <br>
    <b>Back End &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>&nbsp;&nbsp;{{ backend }}<br>
    <b>Framework & IDE :</b>&nbsp;&nbsp;{{ ide }}<br>
    <b>Database &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>&nbsp;&nbsp;{{ database }}
</div>
{% endautoescape %}






</body>
</html>