{% extends 'student/student_base.html' %}

{% block content %}

      <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Edit Profile</a></li>
                                            <li class="breadcrumb-item active" aria-current="page"></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">{{ request.session.username }}</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="">{% csrf_token %}



                                                    <div class="row" id="firstname_edit">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">First name</label>
                                                        <input type="text" class="form-control" id="firstName" name='firstname' placeholder="" value="{{ user.first_name }}" required="" readonly="readonly">
                                                        <div class="invalid-feedback">
                                                            Valid first name is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3" id="lastname_edit">
                                                        <label for="lastName">Last name</label>
                                                        <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" value="{{ user.last_name }}" required="" readonly>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3" id="email_edit">
                                                    <label for="email">Email <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{ user.email }}" required="" readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>


                                                    <div class="mb-3" id="admissionno_edit">
                                                        <label for="admissionno">Admission No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="admissionno" name="admissionno"  value="{{ user.student.admission_no }}" placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Admission No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3" id="rollno_edit">
                                                        <label for="rollno">Roll No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="rollno" name="rollno" placeholder="" required="" value="{{ user.student.roll_no }}" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Roll No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                <div class="mb-3" style="display:none" id="batch_edit">
                                                  <label for="batch">Batch</label>
                                                        <select class="custom-select d-block w-100" id="batch" name="batch" required="">
                                                            <option value="">Choose...</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                            <option value="2026">2026</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a batch.
                                                        </div>

                                                </div>

                                                <div class="mb-3" id="batch_show">
                                                        <label for="batch2">Batch</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="batch2"  placeholder="" value="{{ user.student.batch }}" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Roll No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                <div class="row" style="display:none" id="mobile_edit">
                                                    <div class="col-md-4 mb-3">
                                                        <label for="countrycode">Country Code</label>
                                                        <select class="custom-select d-block w-100" name="countrycode"  id="countrycode" required="">
                                                            <option value="">Choose...</option>
                                                             <option value="+91">India   (+91)</option>
                                                            <option value="+971">UAE     (+971)</option>
                                                              <option value="+1">USA     (+1)</option>
                                                             <option value="+44">UK      (+44)</option>
                                                            <option value="+973">Bahrain (+973)</option>
                                                            <option value="+965">Kuwait  (+965)</option>
                                                            <option value="+968">Oman    (+968)</option>
                                                            <option value="+974">Qatar   (+974)</option>
                                                            <option value="+966">Saudi   (+966)</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid country.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 mb-3">
                                                        <label for="mobileno">Mobile No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="tel" class="form-control" id="mobileno" name="mobileno" placeholder="10 digits" required="" pattern="[0-9]{10}">
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Mobile No. is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3" id="mobile_show">
                                                        <label for="mobile2">Mobile</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="mobile2" name="mobile" placeholder="" value="{{ user.student.mobile_no }}" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Roll No. is required.
                                                            </div>
                                                        </div>
                                                    </div>








                                                <div style="display:none" id="update_button">
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                                                </div>
                                                <div>
                                                <hr class="mb-4" >
                                                <button id="edit_button" class="btn btn-primary btn-lg btn-block" >I Want to Edit This</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

<script>
document.getElementById('edit_button').onclick = function() {
    document.getElementById('firstName').readOnly = false;
    document.getElementById('lastName').readOnly = false;
    document.getElementById('email').readOnly = false;
    document.getElementById('admissionno').readOnly = false;
    document.getElementById('rollno').readOnly = false;
    document.getElementById('batch_edit').style.display = 'block';
    document.getElementById('batch_show').style.display = 'none';
    document.getElementById('mobile_edit').style.display = 'block';
    document.getElementById('mobile_show').style.display = 'none';
    document.getElementById('update_button').style.display = 'block';
    document.getElementById('edit_button').style.display = 'none';
};
</script>


{% endblock %}