{% extends 'submit_base.html' %}

{% block content %}
<style>
    a:hover
    {
        color: #52A494;
    }
    a
    {
        color: #090e0d;
    }
</style>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"><u>Forgot Password</u></h2>
                </div>
                <div class="card-body">


                            <center><p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.</p></center>
                  <center><p>  If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</p></center>
                    <br><br>

                            <center><p><a href="{% url 'login_view' %}" > Click here to goto Sign in Page</a></p></center><br>


                </div>
            </div>
        </div>
    </div>

{% endblock %}