{% extends 'submit_base.html' %}

{% block content %}
<style>
    a:hover
    {
        color: #52A494;
    }
    a
    {
        color: #090e0d;
    }
</style>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"><u>Reset password</u></h2>
                </div>

    <center><p>
      Your password has been set. You may go ahead and <a href="{% url 'login_view' %}">sign in</a> now.
    </p></center>

<br><br><br><br>
            </div>
        </div>
    </div>


{% endblock %}