{% extends 'staff/staff_base.html' %}

{% block content %}

   <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Edit Profile</a></li>
                                            <li class="breadcrumb-item active" aria-current="page"></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Update Profile</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="">{% csrf_token %}



                                                    <div class="row" id="firstname_edit">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">First name</label>
                                                        <input type="text" class="form-control" id="firstName" name='firstname' placeholder="" value="{{ user.first_name }}" required="" readonly="readonly">
                                                        <div class="invalid-feedback">
                                                            Valid first name is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3" id="lastname_edit">
                                                        <label for="lastName">Last name</label>
                                                        <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" value="{{ user.last_name }}" required="" readonly>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="mb-3" id="email_edit" style="display:none;">
                                                    <label for="email">Email <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder=""  required="" >
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                <div class="mb-3" id="email_show">
                                                    <label for="email">Email <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="email1" name="email1" placeholder="" value="{{ user.email }}"  readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>

                                                <div style="display:none" id="update_button">
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                                                </div>
                                                <div>
                                                <hr class="mb-4" >
                                                <button id="edit_button" class="btn btn-primary btn-lg btn-block" >I Want to Edit This</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

<script>
document.getElementById('edit_button').onclick = function() {
document.getElementById('edit_button').style.display = 'none';
    document.getElementById('firstName').readOnly = false;
    document.getElementById('lastName').readOnly = false;
    document.getElementById('update_button').style.display = 'block';
    document.getElementById('email_show').style.display = 'none';
    document.getElementById('email_edit').style.display = 'block';

};
</script>



{% endblock %}