{% extends 'submit_base.html' %}

{% block content %}
<style>
    a:hover
    {
        color: #52A494;
    }
    a
    {
        color: #090e0d;
    }
</style>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"><u>Registration</u></h2>
                </div>
                <div class="card-body">

                       {% if text == 'invalid' %}
                            <center><p>The confirmation link was invalid, possibly because it has already been used or it expired</p></center><br><br>
                            <center><p><a href="{% url 'login_view' %}" > Click here to goto Sign in</a></p></center><br>
                            <center><p><a href="{% url 'signup' %}"> Click here to goto Registration</a></p></center>
                        {% elif text == 'not_activated' %}
                            <center><p>Please activate your account.Activation link is send to your Mail({{ user.email }}) on {{ user.date_joined }}.Please confirm your email address to complete the registration. Or Contact the Project Coordinator</p></center>

                        {% elif text == 'not_approved' %}
                            <center><p>Hai {{ user.first_name }} &nbsp {{ user.last_name }},Your account has not approved yet.One more Approving process is in progress.Please wait or contact the Project coordinator.We will inform you once its complete </p></center>
                            <br><br><center><p><a href="{% url 'login_view' %}" > Click here to goto Front page</a></p></center><br>
                        {% else %}
                            <center><p>Your Account activation is in final Stage.We will inform you when activate</p></center>
                            <center><p>ThankYou</p></center><br><br>
                            <center><p><a href="{% url 'login_view' %}" > Click here to goto Sign in</a></p></center><br>

                        {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}