{% load static %}
<html lang="zxx">

<head>
	<title>Project Approbation System | MCA</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Invent Signup Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet"         href="{% static 'css/style.css' %}"   type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-right">
					<div class="overlay">
						<div class="grid-info-form">
							<h5></h5>
							<h3>PROJECT APPROBATION SYSTEM</h3>
							<p>One Place Many Things! </p>
							<!-- <a href="index.html" class="read-more-1 btn">Get Started</a> -->
						</div>

					</div>
				</div>
				<div class="form-left">
					<div class="middle">
						<h4>Sign In</h4>
						<p></p>
					</div>
					<form  method="post" class="signin-form">
						{% csrf_token %}
							<div class="form-input">
								<label>Username</label>
								<input type="text" name="username" placeholder="" required />
							</div>

							<div class="form-input">
								<label>Password</label>
								<input type="password" name="password" placeholder="" required />
							</div>

							<label class="container"><a href="{% url 'password_reset' %}">Forgot Password?</a>
							</label>
							<button class="btn" type="submit">Sign In</button><br>
						{% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
						<br>
						<label class="container">New user?<a href="{% url 'signup' %}"> Create an Account</a>
							</label>

					</form>
					<br><br>
					<div class="copy-right text-center">
						<p>Copyright © 2020 Department of Computer Applications <a href="https://www.mesce.ac.in/" target="_blank">MESCE</a>. All rights reserved.
								</p>
					 </div>
				</div>

			</div>

		</div>
	</section>
	<!-- //login-section -->
</body>

</html>