{% extends 'submit_base.html' %}

{% block content %}
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"><u>Registration</u></h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                        {% if field.label_tag == '<label for="id_is_staff">Staff status:</label>' %}
                                <br>
                                <label for="id_is_staff">I am a Staff of MESCE MCA department :</label>
                                {{ field }}
                                {% if field.help_text %}
                                    {% if field.help_text == 'Designates whether the user can log into this admin site.' %}
                                                    <small style="color: grey">Please tick above if you are a staff</small>
                                    {% endif %}
                                {% endif %}
                              {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                              {% endfor %}


                        {% else %}
                              {{ field.label_tag }}<br>
                              {{ field }}

                              {% if field.help_text %}
                                {% if field.help_text == '<ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>' %}
                                    <small style="color: grey"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></small>

                              {% else %}
                                <small style="color: grey">{{ field.help_text }}</small>
                              {% endif %}
                              {% endif %}
                              {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                              {% endfor %}
                        {% endif %}
                            </p>
                          {% endfor %}
                        <br>

                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
document.getElementById('id_username').classList.add("input--style-5");
document.getElementById('id_last_name').classList.add("input--style-5");
document.getElementById('id_first_name').classList.add("input--style-5");
document.getElementById('id_email').classList.add("input--style-5");

document.getElementById('id_password1').classList.add("input--style-5");
document.getElementById('id_password2').classList.add("input--style-5");



</script>

{% endblock %}