{% extends 'administrator/admin_base.html' %}

{% block content %}

                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Change Password</a></li>
                                            <li class="breadcrumb-item active" aria-current="page"></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}

						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Change Password</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" >{% csrf_token %}
                                              {% for field in form %}
                                                <div class="mb-3" id="email_edit">
                                                    {{ field.label_tag }}
                                                    {{ field }}
                                                    {% if field.help_text %}
                                                        {% if field.help_text == '<ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>' %}
                                                            <small style="color: grey"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></small>

                                                        {% else %}
                                                            <small style="color: grey">{{ field.help_text }}</small>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                        <p style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                                {% endfor %}


                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Save Changes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

<script>
document.getElementById('id_old_password').classList.add("form-control");
document.getElementById('id_new_password1').classList.add("form-control");
document.getElementById('id_new_password2').classList.add("form-control");
document.getElementById('id_email').classList.add("input--style-5");

document.getElementById('id_password1').classList.add("input--style-5");
document.getElementById('id_password2').classList.add("input--style-5");
</script>

{% endblock %}
