{% extends 'administrator/admin_base.html' %}

{% block content %}

              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Panel</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Create</a></li>

<li class="breadcrumb-item active" aria-current="page">{{ batch }}</li>
                         </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                                            <form method="post" action="" id="sectionForm">
                                               <div class="row">
                                                <div class="col-md-3 mb-3">

                                                        <label for="guide">Guide</label>
                                                        <select class="form-control" id="guide" name="guide" required="">
                                                        <option value="">Choose guide...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid first name is required.
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3 mb-3">
                                                        <label for="staff1">Staff 1</label>
                                                        <select class="form-control" id="staff1" name="staff1" required="">
                                                        <option value="">Choose staff...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                   <div class="col-md-3 mb-3">
                                                        <label for="staff2">Staff 2</label>
                                                        <select class="form-control" id="staff2" name="staff2" required="">
                                                        <option value="">Choose staff...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                   <div class="col-md-3 mb-3">
                                                        <label for="staff3">Staff 3</label>
                                                        <select class="form-control" id="staff3" name="staff3" required="">
                                                        <option value="">Choose staff...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                            </div>
                                                {% if users %}
                                               <center><button  class="btn btn-primary btn-lg " type="submit">Allocate</button></center>
                                                <hr class="mb-4" >
                                                {% endif %}




                                            {% for i in users %}

                                                <input type="checkbox" id="{{i.id}}" name="checks" value="{{i.id}}" >
                                                <label for="{{i.id}}">{{ i.username }} - {{ i.first_name }} {{ i.last_name }}</label><br>

                                            {% endfor %}


                                                </form>

<script>
    (function() {
    const form = document.querySelector('#sectionForm');
    const checkboxes = form.querySelectorAll('input[type=checkbox]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
        if (firstCheckbox) {
            for (let i = 0; i < checkboxLength; i++) {
                checkboxes[i].addEventListener('change', checkValidity);
            }

            checkValidity();
        }
    }

    function isChecked() {
        for (let i = 0; i < checkboxLength; i++) {
            if (checkboxes[i].checked) return true;
        }

        return false;
    }

    function checkValidity() {
        const errorMessage = !isChecked() ? 'Please select atleast one student for panel allocation.' : '';
        firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
})();




</script>





{% endblock %}