
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project Approbation System | MCA</title>




</head>

<body id="page-top">

<table style="height: 25px">

						<thead>
						<tr class="table100-head"><th rowspan="4" ><img src="{{ directory }}\static\images\logo.jpg" alt="Mountains" style="width: 100px;
  height: 100px;object-fit: cover;"></th>
                            <th colspan="2" style="text-align: center;font-weight: 900;height:35px;"><h1>&nbsp;&nbsp;&nbsp;&nbsp;MES COLLEGE OF ENGINEERING - KUTTIPPURAM</h1></th></tr>

                        <tr class="table100-head"><th colspan="2" style="text-align: center;font-weight: 900;">DEPARTMENT OF COMPUTER APPLICATIONS</th></tr>
						<tr ><th colspan="2" style="text-align: center;font-weight: bold;">FINAL SEMESTER MAIN PROJECT- RLMCA352</th></tr>
                        <tr ><th colspan="2" style="text-align: center;font-weight: bold;">{{ subject }}{{ batch }}</th></tr></thead>
    <tbody style="border: 1px solid black;
  border-collapse: collapse;">
    <tr>                            <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:20%;">Register No</th>
                                <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:25%;">Roll No</th>
                                <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:45%;">Mobile No</th>
                                <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:10%;">Signature</th>
</tr>
     {% for i in students %}
                        <tr>
                        <td style="text-align: center;border: 1px solid black;height:35px;
  border-collapse: collapse;">{{ i}}</td>
                        <td style="text-align: center;border: 1px solid black;
  border-collapse: collapse;height:35px;">{{ i.roll_no}}</td>
                        <td style="text-align: center;border: 1px solid black;
  border-collapse: collapse;height:35px;">{{ i.mobile_no }}</td>
                            <td style="text-align: center;border: 1px solid black;
  border-collapse: collapse;height:35px;"> </td>
                            </tr>
                        {% endfor %}

    </tbody>
</table>
<br>
<br>
<div>
    <table>
        <tr>
            <th style="text-align: left;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff Coordinator
            </th>
            <th style="text-align: right;">
                HOD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
        </tr>
    </table>
</div>
<br>
<br>

  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted" style="text-align: center;">Copyright &copy; 2020 - PAS</div>
    </div>
  </footer>




</body>

</html>
