{% extends 'administrator/admin_base.html' %}

{% block content %}

      <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Student</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Edit/Delete</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Edit</li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">

                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">{{ user.username }}</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="edit/{{ user.username }}">{% csrf_token %}


                                                <div class="mb-3" id="regno_edit">
                                                        <label for="registerno">Register No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="registerno" name="registerno"  value="{{ user.username }}" placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Register No. is required.
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row" id="firstname_edit">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">First name</label>
                                                        <input type="text" class="form-control" id="firstName" name='firstname' placeholder="" value="{{ user.first_name }}" required="" readonly="readonly">
                                                        <div class="invalid-feedback">
                                                            Valid first name is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3" id="lastname_edit">
                                                        <label for="lastName">Last name</label>
                                                        <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" value="{{ user.last_name }}" required="" readonly>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3" id="rollno_edit">
                                                        <label for="registerno">Roll No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="rollno" name="rollno"  value="{{ user.student.roll_no }}" placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Register No. is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="mb-3" id="admissionno_edit">
                                                        <label for="registerno">Admission No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="admissionno" name="admissionno"  value="{{ user.student.admission_no }}" placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Register No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                <div class="mb-3" id="mobileno_edit">
                                                        <label for="registerno">Mobile No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="mobileno" name="mobileno"  value="{{ user.student.mobile_no }}" placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Register No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                <div class="mb-3" id="batch_edit">
                                                        <label for="registerno">Batch</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="batch" name="batch"  value="{{ user.student.batch }}" placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Register No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                <div class="mb-3" id="email_edit" style="display:none;">
                                                    <label for="email">Email <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="" value="" required="">
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>


                                                <div class="mb-3" id="email_show">
                                                    <label for="email2">Email <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="email2" name="email2" placeholder="" value="{{ user.email }}"  readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>

                                                <div class="mb-3" id="guide_show">
                                                    <label for="email2">Guide <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="guide" name="guide" placeholder="" value="{{ guide }}-{{ user.panel.guide_status }}"  readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                <div class="mb-3" id="panel1_show">
                                                    <label for="email2">Staff 1 <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="panel1" name="panel1" placeholder="" value="{{ panel1 }}-{{ user.panel.panel1_status }}"  readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                <div class="mb-3" id="panel2_show">
                                                    <label for="email2">Staff 2 <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="panel2" name="panel2" placeholder="" value="{{ panel2 }}-{{ user.panel.panel2_status }}"  readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                <div class="mb-3" id="panel3_show">
                                                    <label for="email2">Staff 3 <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="panel3" name="panel3" placeholder="" value="{{ panel3 }}-{{ user.panel.panel3_status }}"  readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                {% if user.panel.admin_status == 'approved' or user.panel.admin_status == 'uploaded'%}
                                                <div class="mb-3" id="comments_show">
                                                    <label for="email2">Comments <span class="text-muted"></span></label>
                                                    <textarea class="form-control" id="comments" name="comments" placeholder=""  rows="6" cols="50" readonly>{{ user.panel.Notes }}</textarea>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if user.panel.admin_status == 'approved' %}
                                                <div class="mb-3" id="mystatus_show">
                                                    <label for="email2">My status <span class="text-muted"></span></label>
                                                    <input type="text" class="form-control" id="mystatus" name="mystaus" placeholder=""  value="{{ user.panel.admin_status }}" readonly>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if user.panel.admin_status == 'approved' or user.panel.admin_status == 'uploaded' %}
                                                <div class="mb-3" id="abstract_show">
                                                    <label for="email2">Abstract (<a href="{{ user.project.abstract }}" download="{{ user.username }}_abstract">Click here to download</a>) <span class="text-muted"></span></label>

                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if user.panel.admin_status == 'approved' or user.panel.admin_status == 'uploaded' %}
                                                <div class="mb-3" id="basepaper_show">
                                                    <label for="email2">Basepaper (<a href="{{ user.project.basepaper }}" download="{{ user.username }}_basepaper">Click here to download</a>) <span class="text-muted"></span></label>

                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if user.project.report != ''  %}
                                                <div class="mb-3" id="report_show">
                                                    <label for="email2">Project report (<a href="{{ user.project.report }}" download="{{ user.username }}_report">Click here to download</a>) <span class="text-muted"></span></label>

                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                {% endif %}





















                                                <div style="display:none" id="update_button">
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                                                </div>
                                                <div>
                                                <hr class="mb-4" >
                                                <button id="edit_button" class="btn btn-primary btn-lg btn-block" >I Want to Edit This</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

<script>
document.getElementById('edit_button').onclick = function() {
    document.getElementById('registerno').readOnly = false;
    document.getElementById('firstname_edit').style.display= 'none';
    document.getElementById('lastname_edit').style.display= 'none';
    document.getElementById('email').readOnly = false;
    document.getElementById('email_edit').style.display = 'block';
    document.getElementById('email_show').style.display = 'none';
    document.getElementById('update_button').style.display = 'block';
    document.getElementById('rollno_edit').style.display= 'none';
    document.getElementById('admissionno_edit').style.display= 'none';
    document.getElementById('mobileno_edit').style.display= 'none';
    document.getElementById('batch_edit').style.display= 'none';
    document.getElementById('guide_show').style.display= 'none';
    document.getElementById('panel1_show').style.display= 'none';
    document.getElementById('panel2_show').style.display= 'none';
    document.getElementById('panel3_show').style.display= 'none';
    document.getElementById('comments_show').style.display= 'none';
    document.getElementById('mystatus_show').style.display= 'none';
    document.getElementById('abstract_show').style.display= 'none';
    document.getElementById('basepaper_show').style.display= 'none';

    document.getElementById('edit_button').style.display = 'none';
};
</script>


{% endblock %}